$textColor: #D9D9D9;
$leftPlaceGrad: linear-gradient(223deg, #237249 0%, #35c66b 100%);
$rightPlaceGrad: inear-gradient(245deg, #237249 0%, #35c66b 100%);
$btnGrad: linear-gradient(210deg, #237249 0%, #35c66b 100%);
$fontFamily: "Montserrat", sans-serif;