html {
	background-color: #121517;
}

:root {
	--textColor: #D9D9D9;
	--leftPlaceGrad: linear-gradient(223deg, #237249 0%, #35c66b 100%);
	--rightPlaceGrad: linear-gradient(245deg, #237249 0%, #35c66b 100%);
	--fontFamily: "Montserrat", sans-serif;
}

body {
	font-family: var(--fontFamily);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--fontFamily);
}

.container {
	width: 1290px;
	padding: 0 30px;
	margin: 0 auto;
}

.header {
	font-family: var(--fontFamily);
	font-weight: 800;
	font-size: 80px;
	line-height: 109%;
	letter-spacing: -0.03em;
	color: #fff;
}

.header__smoll {
	font-weight: 500;
	font-size: 32px;
	line-height: 163%;
}

.descr {
	font-family: var(--fontFamily);
	font-weight: 500;
	font-size: 32px;
	line-height: 163%;
	letter-spacing: -0.02em;
}

.btn {
	border-radius: 83px;
	width: 326px;
	height: 75px;
	background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
}