header {
	margin-top: 48px;
}

.header__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;

}

.logo {
	font-family: var(--fontFamily);
	font-weight: 800;
	font-size: 37px;
	line-height: 109%;
	letter-spacing: -0.03em;
	background: var(--leftPlaceGrad);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	margin-right: 93px;
}

.burger {
	display: none;
}

.links ul{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	gap: 94px;
	text-decoration: none;
	list-style-type: none;
}

.links ul li a {
	font-family: var(--fontFamily);
	color: var(--textColor);
	font-weight: 400;
	font-size: 19px;
}
